interactions:
- request:
    body: null
    headers:
      authorization:
      - ''
    method: GET
    uri: https://api.airtable.com/v0/meta/bases/appG3A7GCIJjrjf8j/tables?include=visibleFieldIds
  response:
    body:
      string: '{"tables":[{"id":"tblH5kStARFR6wTwX","name":"Table 1","primaryFieldId":"fldRLjMJMBjUbn6XF","fields":[{"type":"singleLineText","id":"fldRLjMJMBjUbn6XF","name":"Name"},{"type":"multilineText","id":"fldKkisWnZGrxzMsx","name":"Notes"},{"type":"singleSelect","options":{"choices":[{"id":"sel0HzeQgEq1qPOET","name":"Todo","color":"redLight2"},{"id":"sela9yIL63Z5Dax06","name":"In
        progress","color":"yellowLight2"},{"id":"selvsCqBEN4FFix0g","name":"Done","color":"greenLight2"}]},"id":"fldYTRx2Dmsim5LfH","name":"Status"}],"views":[{"id":"viwRuTtmaXSV2Xesj","name":"Grid
        view","type":"grid","visibleFieldIds":["fldRLjMJMBjUbn6XF","fldKkisWnZGrxzMsx","fldYTRx2Dmsim5LfH"]}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      airtable-uncompressed-content-length:
      - '668'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - ''
    method: GET
    uri: https://api.airtable.com/v0/appG3A7GCIJjrjf8j/tblH5kStARFR6wTwX?returnFieldsByFieldId=1
  response:
    body:
      string: '{"records":[{"id":"rec2gjdwMTRE5EewZ","createdTime":"2023-08-07T17:19:36.000Z","fields":{"fldRLjMJMBjUbn6XF":"Alpha"}},{"id":"recFpahsiS8mKSrud","createdTime":"2023-08-07T17:19:36.000Z","fields":{"fldRLjMJMBjUbn6XF":"Bravo"}},{"id":"recSVUi0bwKQ5R0pw","createdTime":"2023-08-07T17:19:36.000Z","fields":{"fldRLjMJMBjUbn6XF":"Charlie"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      airtable-uncompressed-content-length:
      - '336'
    status:
      code: 200
      message: OK
version: 1
